# usage syntax
# bumpversion [--dry-run --verbose] minor
# current = 2.1.5dev
# new = 2.2.0dev

[bumpversion]
current_version = 1.11.0dev
commit = False
tag = False

# add parsing
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(?P<release>[a-z]+)?
serialize =
    {major}.{minor}.{patch}{release}
    {major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = alpha
values =
    dev
    alpha

# files to update
[bumpversion:file:python/sciserver/__init__.py]
[bumpversion:file:setup.py]
